@import '@/style/borders'
@import '@/style/functions'

$iconSize: pixelsToRem(48)

.SocialMediaBlock
  display: flex
  justify-content: space-between
  width: 100%
  &__item
    width: $iconSize
    height: $iconSize
    border-radius: $border-icon
