
body {
	margin: 0;
	background-color: black;
	color: white;
	font-family: 'Inter';
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
